# 출력하기(7/29)

## 기본 출력  
 * print(value1, value2, ...)            : 기본 형식 스페이스 적용
 * print(value1, value2, ..., sep=",")   : 형식 변경 ,적용
 * print(value1, value2, ..., sep="")    : 형식 변경 스페이스 지움
 * print(value1, value2, ..., end="m/s") : 출력 끝에 문자 추가
 * print(""" 문장 입력 """)              : 문장 입력, 엔터, 스페이스 등

In [40]:
print(1)                                # 숫자
print("hello")                          # 문자
print("\"")                             # 이스케이프 \기호, \n(줄나눔), \t(탭, 4칸)
print("hello", "world")                 # 문자 + 문자
print("2 + 3 =",2+3)                    # 문자 + 숫자
print("apple", "banana", sep=", ")      # 형식 변경 스페이스 -> 콤마
print("kjt1023","@","nate.com", sep="") # 형식 변경 스페이스 삭제
print(2*3.14, end=" m/s \n")            # 끝문자 단위 추가 (기본값 \n)
print("""커피가 상했네
온도가 너무 높았나
먹어야 할지 말아야 할지""")              # 여러줄 입력

1
hello
"
hello world
2 + 3 = 5
apple, banana
kjt1023@nate.com
6.28 m/s
커피가 상했네
온도가 너무 높았나
먹어야 할지 말아야 할지

## 변수 선언  
 * 변수명은 영문자, 숫자, 언더바로 구성됨
 * 특수문자, 공백은 불가능
 * 파이썬 예약어도 불가능
 * 들여쓰기(indent) 유의
 * 대소문자 구분함
 * type(변수) : 자료형 확인
 * int(숫자) : 정수로 변환
 * str(숫자) : 문자로 변환

In [49]:
value1 = "1004"                                 # 문자(str)
value2 = 1004                                   # 숫자; 정수(int)
value3 = 1004.00                                # 숫자; 실수(float)
value4 = value5 = value6 = 1004                 # 동시 할당
value7, value8, value9 = 1004, 1004.00, 1004       # 개별 할당
print(value1, value2)                           # 출력 -> 구분할 수 없는 경우가 있음
print(type(value1), type(value2), type(value3)) # 자료형 출력
print(type(value2), type(int(value3)))        
print(value1 + str(value2))
print(value4, value5, value6)
print(value7, value8, value9)

1004 1004
<class 'str'> <class 'int'> <class 'float'>
<class 'int'> <class 'int'>
10041004
1004 1004 1004
1004 1004.0 1004

## 산술 연산자
 * += : 같은 변수에 더하기  
 * -= : 같은 변수에 빼기  
 * *= : 같은 변수에 곱하기  
 * /= : 같은 변수에 나누기

In [55]:
num = 1
num = num + 1 
print(num)
num += 1
print(num)

num -= 1
print(num)
num *= 2
print(num)
num /= 2
print(num)

2
3
2
4
2.0

## 대소 관계
 * == : 같으면 True 다른 Falue  
 * \>= : 크거나 같으면 True  
 * != : 같지 않으면 Ture

In [61]:
3 == 3

False

In [62]:
4 >= 5

False

In [64]:
"가" == "가"

True

In [65]:
"a" <= "A" #아스키번호 비교

False

In [66]:
"50" < "7" #아스키번호 비교

True

## 조건  
 * and : 둘다 만족하면 true  
 * or  : 둘 중 하나라도 만족하면 true  
 * not : 그렇지 않으면 true

In [67]:
A = 7
(A>3) and (A>10)

False

In [68]:
(A>3) or (A>10)

True

In [71]:
# QUIZ 5를 3으로 나눈 몫을 c에 할당한 뒤 프린트
c = 5 // 3  # 몫
d = 5 % 3   # 나머지
print(c, d)

1 2

In [72]:
a,b,c=6,3,5 #2와 3으로 나눈 나머지가 0인 수는?
print(a, a%2==0 and a%3==0)
print(b, b%2==0 and b%3==0)
print(c, c%2==0 and c%3==0) 

# 추후 List를 배우면 조건을 한 번만 작성하여 반복하지 않아도 됨

6 True
3 False
5 False

## 입력 및 출력
 * 변수 = input() : 변수를 사용자가 지정할 경우 (예를 들어, 시작 번호, ~ 끝 번호)

In [74]:
name = input("이름이 어떻게 되나요?")
print(name, "님 안녕하세요.",sep="")

이름이 어떻게 되나요? 카더가든

카더가든님 안녕하세요.

In [77]:
age = input("나이는요?")
print("만",age,"세 입니다.")
type(age) #input은 문자열로 인식하므로 숫자는 필요시 int 등으로 변환해야 함

나이는요? 33

만 33 세 입니다.

str

In [79]:
type(int(age))

int

In [82]:
age = int(input("한국 나이는요?"))     #input이 숫자면 미리 int로 정의할 것
msg = f"한국 나이는 {age+2}살 입니다." #python 3.6이상, f"~{변수}~" : f스트링 사용 시 변수 연산 가능
print(msg)

한국 나이는요? 33

한국 나이는 35살 입니다.

In [86]:
a = int(input("더할 숫자를 넣으세요"))
b = int(input("더할 숫자를 넣으세요"))
print(a,"+",b,"=",a+b)               #기존 방식
c = f"{a}+{b}={a+b}"                 #f스트링 방식 : 훨씬 직관적임
print(c)

더할 숫자를 넣으세요 3
더할 숫자를 넣으세요 5

3 + 5 = 8
3+5=8

$ C = (F-32) * \frac{5}{9}$

In [96]:
f = float(input("화씨 온도를 입력해주세요."))
c = (f-32)*(5/9)
print(f"섭씨 온도는 {round(c,2)}입니다.")

화씨 온도를 입력해주세요. 100

섭씨 온도는 37.78입니다.

## 문자열 인덱싱

In [117]:
txt = "koreait WoRlD koreait"
print(len(txt))
print(txt[5])                           # 0부터 시작함. 즉, 5 = 6번째 문자
print(txt[-8])                          #-1부터 시작함. 즉, -8 = 6번째 문자
print(txt[0:5])                         # 0이상 5미만 출력
print(txt[::2])                         # 2개씩 넘어가며 출력
print(txt.replace("koreait", "python")) # 문자열 변경 (전부다 바뀌므로 유의)
print(txt.find("z"))                    # 문자열 위치 (없으면 -1)
print(txt.upper())                      # 전부 대문자로
print(txt.lower())                      # 전부 소문자로

email = "test@naver.com"
print(email.split("@"))                 # 특정 문자를 기준으로 나눔 (리스트 형태로 변환)

21
i

korea
kratWRDkrat
python WoRlD python
-1
KOREAIT WORLD KOREAIT
koreait world koreait
['test', 'naver.com']

In [125]:
name = input("성함을 알려주세요") #성 뛰우고 이름 입력할 경우,,,
pos = name.find(" ")
first = name[:pos]
second = name[pos+1:]
print(second, first)
print(f"이름은 {second}이고 성은 {first}입니다.")

성함을 알려주세요 김 아무개

아무개 김
이름은 아무개이고 성은 김입니다.

# 조건문

## if문

In [131]:
a = "사과"
if a == "배":
    print("내꺼")
else:
    print("니꺼")

니꺼

In [132]:
a = "사과"
if a == "배":
    print("내꺼")
elif a == "사과":
    print("반만")
else:
    print("안먹어")

반만

In [135]:
b = int(input("몇 점이니?"))
if b >= 60:
    print("합격")
else:
    print("불합격")

몇 점이니? 60

합격

In [138]:
###### 점수를 입력받고 학점을 표시해 주세요 (A~F)
c = int(input("몇 점이니?"))
if c >= 90:
    print("A")
elif c >= 80:
    print("B")
elif c >= 70:
    print("C")
else:
    print("D")

몇 점이니? 60

D

In [140]:
d = input("과일?")
if d == "수박" or d == "사과":
    print("ok")
else:
    print("no")

과일? 참외

no

## for문

In [141]:
for i in "korea":
    print(i)

k
o
r
e
a

In [142]:
for i in range(5): # 0번부터 시작함
    print(i)

0
1
2
3
4

In [143]:
for i in range(5): # 5번 반복
    print("몰라")

몰라
몰라
몰라
몰라
몰라

In [147]:
for x in range(2): # 행
    for y in range(3): # 열
        print(x,y)

0 0
0 1
0 2
1 0
1 1
1 2

In [171]:
for x in range(2,10):                            # 행 (이상, 미만)
    for y in range(1,10):                        # 열 (이상, 미만)
        print(f"{x} * {y} = {x*y}")    # 구구단

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [167]:
for x in range(1,10):                            # 열 (이상, 미만)
    for y in range(2,10):                        # 행 (이상, 미만)
        print(f"{y} * {x} = {x*y}", end="\t")    # 구구단 
    print()                                      # 줄바꿈

2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9
2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18
2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27
2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

In [179]:
j=0                     #변수를 초기화하지 않으면 반복 실행 시 이전 데이터에서 시작함 -> 수치해석 변수는 시작부 반드시 초기화가 들어갈 것
for i in range(1,11):
    j += i
    print(i, j)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55